# Ex1 - Filtering and Sorting Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [3]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [4]:
chipo = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv', sep='\t')

### Step 4. How many products cost more than $10.00?

In [5]:
chipo.item_price = chipo.item_price.apply(lambda x: float(x[1:]))

chipo.item_price[chipo.item_price > 10.00].nunique()

35

### Step 5. What is the price of each item? 
###### print a data frame with only two columns item_name and item_price

In [6]:
chipo[['item_name', 'item_price']]

                                  item_name  item_price
0              Chips and Fresh Tomato Salsa        2.39
1                                      Izze        3.39
2                          Nantucket Nectar        3.39
3     Chips and Tomatillo-Green Chili Salsa        2.39
4                              Chicken Bowl       16.98
...                                     ...         ...
4617                          Steak Burrito       11.75
4618                          Steak Burrito       11.75
4619                     Chicken Salad Bowl       11.25
4620                     Chicken Salad Bowl        8.75
4621                     Chicken Salad Bowl        8.75

[4622 rows x 2 columns]

### Step 6. Sort by the name of the item

In [12]:
pd.Series(sorted(chipo.item_name.unique()))

0                         6 Pack Soft Drink
1                             Barbacoa Bowl
2                          Barbacoa Burrito
3                     Barbacoa Crispy Tacos
4                       Barbacoa Salad Bowl
5                       Barbacoa Soft Tacos
6                             Bottled Water
7                                      Bowl
8                                   Burrito
9                               Canned Soda
10                        Canned Soft Drink
11                            Carnitas Bowl
12                         Carnitas Burrito
13                    Carnitas Crispy Tacos
14                           Carnitas Salad
15                      Carnitas Salad Bowl
16                      Carnitas Soft Tacos
17                             Chicken Bowl
18                          Chicken Burrito
19                     Chicken Crispy Tacos
20                            Chicken Salad
21                       Chicken Salad Bowl
22                       Chicken Soft Tacos
23                                    Chips
24             Chips and Fresh Tomato Salsa
25                      Chips and Guacamole
26        Chips and Mild Fresh Tomato Salsa
27       Chips and Roasted Chili Corn Salsa
28       Chips and Roasted Chili-Corn Salsa
29    Chips and Tomatillo Green Chili Salsa
30      Chips and Tomatillo Red Chili Salsa
31    Chips and Tomatillo-Green Chili Salsa
32      Chips and Tomatillo-Red Chili Salsa
33                             Crispy Tacos
34                                     Izze
35                         Nantucket Nectar
36                                    Salad
37                            Side of Chips
38                               Steak Bowl
39                            Steak Burrito
40                       Steak Crispy Tacos
41                              Steak Salad
42                         Steak Salad Bowl
43                         Steak Soft Tacos
44                              Veggie Bowl
45                           Veggie Burrito
46                      Veggie Crispy Tacos
47                             Veggie Salad
48                        Veggie Salad Bowl
49                        Veggie Soft Tacos
dtype: object

### Step 7. What was the quantity of the most expensive item ordered?

### Step 8. How many times was a Veggie Salad Bowl ordered?

### Step 9. How many times did someone order more than one Canned Soda?