# Ex1 - Filtering and Sorting Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [2]:
chipo = pd.read_csv("https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv", sep="\t")

### Step 4. How many products cost more than $10.00?

In [3]:
chipo.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

In [6]:
chipo["item_price"]  =chipo["item_price"].str.replace("$", "").astype(float)

In [26]:
chipo_no_dup = chipo.drop_duplicates(["item_name", "quantity","choice_description"])
chipo_no_dup[chipo_no_dup["item_price"] > 10]
chipo_one_item_order = chipo_no_dup[chipo_no_dup["quantity"] ==1]
chipo_gt_10 = chipo_one_item_order[chipo_one_item_order["item_price"] > 10]
chipo_gt_10.groupby("item_name")["item_price"].value_counts()

item_name              item_price
Barbacoa Bowl          11.75          16
                       11.48           4
                       11.49           1
Barbacoa Burrito       11.75          21
                       11.48           1
                       11.08           1
Barbacoa Crispy Tacos  11.75           3
                       11.48           1
Barbacoa Salad Bowl    11.89           5
Barbacoa Soft Tacos    11.75           7
                       11.48           1
Carnitas Bowl          11.75          15
                       11.48           7
                       11.08           2
Carnitas Burrito       11.75          14
                       11.48           1
                       11.08           1
Carnitas Crispy Tacos  11.75           2
Carnitas Salad Bowl    11.89           4
Carnitas Soft Tacos    11.75           3
Chicken Bowl           11.25         115
                       10.98          34
                       10.58           1
Chicken Burrito        11.25          76
                       10.98          33
                       10.58           4
Chicken Crispy Tacos   11.25          11
                       10.98           1
Chicken Salad          10.98           2
Chicken Salad Bowl     11.25          31
Chicken Soft Tacos     11.25          14
                       10.98           3
Steak Bowl             11.75          53
                       11.48           9
                       11.08           1
Steak Burrito          11.75          67
                       11.48          20
                       11.08           3
Steak Crispy Tacos     11.75           6
Steak Salad Bowl       11.89          17
Steak Soft Tacos       11.75           5
                       11.48           2
Veggie Bowl            11.25          27
                       10.98           4
Veggie Burrito         11.25          22
                       10.98           4
Veggie Salad Bowl      11.25           8
Veggie Soft Tacos      11.25           2
Name: count, dtype: int64

In [16]:
chipo.item_name.value_counts()

item_name
Chicken Bowl                             726
Chicken Burrito                          553
Chips and Guacamole                      479
Steak Burrito                            368
Canned Soft Drink                        301
Steak Bowl                               211
Chips                                    211
Bottled Water                            162
Chicken Soft Tacos                       115
Chips and Fresh Tomato Salsa             110
Chicken Salad Bowl                       110
Canned Soda                              104
Side of Chips                            101
Veggie Burrito                            95
Barbacoa Burrito                          91
Veggie Bowl                               85
Carnitas Bowl                             68
Barbacoa Bowl                             66
Carnitas Burrito                          59
Steak Soft Tacos                          55
6 Pack Soft Drink                         54
Chips and Tomatillo Red Chili Salsa       48
Chicken Crispy Tacos                      47
Chips and Tomatillo Green Chili Salsa     43
Carnitas Soft Tacos                       40
Steak Crispy Tacos                        35
Chips and Tomatillo-Green Chili Salsa     31
Steak Salad Bowl                          29
Nantucket Nectar                          27
Barbacoa Soft Tacos                       25
Chips and Roasted Chili Corn Salsa        22
Izze                                      20
Chips and Tomatillo-Red Chili Salsa       20
Veggie Salad Bowl                         18
Chips and Roasted Chili-Corn Salsa        18
Barbacoa Crispy Tacos                     11
Barbacoa Salad Bowl                       10
Chicken Salad                              9
Veggie Soft Tacos                          7
Carnitas Crispy Tacos                      7
Veggie Salad                               6
Carnitas Salad Bowl                        6
Burrito                                    6
Steak Salad                                4
Crispy Tacos                               2
Salad                                      2
Bowl                                       2
Chips and Mild Fresh Tomato Salsa          1
Veggie Crispy Tacos                        1
Carnitas Salad                             1
Name: count, dtype: int64

### Step 5. What is the price of each item? 
###### print a data frame with only two columns item_name and item_price

In [28]:
chipo.groupby("item_name")["item_price"].value_counts()

item_name          item_price
6 Pack Soft Drink  6.49          53
                   12.98          1
Barbacoa Bowl      9.25          28
                   11.75         20
                   8.99           8
                                 ..
Veggie Salad Bowl  8.75           8
Veggie Soft Tacos  11.25          2
                   8.49           2
                   8.75           2
                   16.98          1
Name: count, Length: 209, dtype: int64

### Step 6. Sort by the name of the item

In [ ]:
chipo.sort_values(by="")

### Step 7. What was the quantity of the most expensive item ordered?

In [30]:
grouped_chipo = chipo.groupby("item_name")["item_price"].value_counts().reset_index()
grouped_chipo.sort_values(by="item_price", ascending=False)

                        item_name  item_price  count
123  Chips and Fresh Tomato Salsa       44.25      1
50                  Carnitas Bowl       35.25      1
90                Chicken Burrito       35.00      2
200                Veggie Burrito       33.75      1
79                   Chicken Bowl       32.94      1
..                            ...         ...    ...
151                 Side of Chips        1.69     99
25                  Bottled Water        1.50    117
41              Canned Soft Drink        1.25    264
26                  Bottled Water        1.09     22
38                    Canned Soda        1.09     84

[209 rows x 3 columns]

In [31]:
chipo.sort_values(by="item_price", ascending=False)

,order_id,quantity,item_name,choice_description,item_price
3598,1443,15,Chips and Fresh Tomato Salsa,NaN,44.25
3480,1398,3,Carnitas Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",35.25
1254,511,4,Chicken Burrito,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",35.00
3602,1443,4,Chicken Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",35.00
3601,1443,3,Veggie Burrito,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",33.75
...,...,...,...,...,...
3936,1578,1,Canned Soda,[Diet Dr. Pepper],1.09
2922,1162,1,Bottled Water,NaN,1.09
1396,567,1,Canned Soda,[Coca Cola],1.09
2562,1014,1,Canned Soda,[Coca Cola],1.09
1457,591,1,Canned Soda,[Sprite],1.09

### Step 8. How many times was a Veggie Salad Bowl ordered?

In [35]:
len(chipo[chipo["item_name"] == "Veggie Salad Bowl"])

18

### Step 9. How many times did someone order more than one Canned Soda?

In [44]:
canned_soda_only = chipo[chipo["item_name"] == "Canned Soda"]

grouped_df = canned_soda_only.groupby("order_id")["item_name"].count().reset_index()

filter_for_gt_1 = grouped_df[grouped_df["item_name"] > 1]

filter_for_gt_1["item_name"]

19